{% extends 'base.html.twig' %}

{% block title %}New DocMoteur{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-6">
        <h4 style=" color: gold;background: #022241;">Ajouter une doc moteur</h4>

    {{ include('doc_moteur/_form.html.twig') }}

    </div>
    </div>

{% endblock %}
