{% extends 'base.html.twig' %}

{% block title %}New MaintenanceAccastillage{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 style=" color: gold;background: #022241;">Créer une nouvelle Maintenance Accastillage</h4>
                {{ include('maintenance_accastillage/_form.html.twig') }}
            </div>
        </div>
    </div>>
{% endblock %}
