{% extends 'base.html.twig' %}

{% block title %}New MaintenanceAdministration{% endblock %}

{% block body %}
  <div class="container">
      <h4 style=" color: gold;background: #022241;">Créer une echéace administrative</h4>

      {{ include('maintenance_administration/_form.html.twig') }}

  </div>
{% endblock %}
