{% extends 'base.html.twig' %}

{% block title %}Edit Electricite{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Modifier l'appareil électrique</h4>

                {{ include('gestboat/home/electricite/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('gestboat/home/electricite/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
