{% extends 'base.html.twig' %}

{% block title %}Edit Moteur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Modifier ce moteur:</h4>
                {{ include('gestboat/home/moteurs/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('gestboat/home/moteurs/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
