{% extends 'base.html.twig' %}

{% block title %}New DocElectricite{% endblock %}

{% block body %}
    <h4 style=" color: gold;background: #022241;">Ajouter une documentation pour cet appareil</h4>
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ include('doc_electricite/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
