{% extends 'base.html.twig' %}

{% block title %}New MaintenanceElectronique{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-6">
            <h5 style=" color: gold;background: #022241;">Créer maintenance Electronique</h5>

            {{ include('maintenance_electronique/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
